<div class="breadcrumbs">
  <a href="index.html">Home</a>
  <span>Movie Review</span>
</div>

<div class="filters">
  <select name="#" id="select-genre" class="filter-selector" placeholder="Choose Category">
    {{#each genres as |genre|}}
    <option value="{{genre}}" >{{genre}}</option>
    {{/each}}
   
  </select>
  <select name="#" id="select-year" class="filter-selector">
    {{#each years as |year|}}
    <option value="{{year}}">{{year}}</option>
    {{/each}}

  </select>
</div>
<div class="movie-list">
  {{#each movies as |movie|}}
  <div class="movie">
    <figure class="movie-poster">
      {{#if movie.fields.image_url}}
      <figure class="movie-poster"><img src="{{ movie.fields.image_url}}" alt="{{ movie.fields.title}}">
      {{else}}
      <img src="http://saveabandonedbabies.org/wp-content/uploads/2015/08/default.png" >
      {{/if}}</figure>
    <div class="movie-title">
      <a href="/review/{{movie._id}}">{{movie.fields.title}}</a></div>
    <p>{{movie.fields.plot}}</p>
  </div>
  {{/each}}
  
</div> <!-- .movie-list -->

<div class="pagination">
  <a href="#" class="page-number prev" class="select-page" ><i class="fa fa-angle-left"></i></a>
  <span class="page-number current" class="select-page">1</span>
  <a href="#" class="page-number" class="select-page">2 </a>
  <a href="#" class="page-number" class="select-page">3</a>
  <a href="#" class="page-number" class="select-page">4</a>
  <a href="#" class="page-number" class="select-page">5</a>
  <a href="#" class="page-number next"><i class="fa fa-angle-right"></i></a>
</div>